########################
## Extensions
########################
*.class

########################
## Package Files
########################
*.jar
*.war
*.ear

########################
## Directories
########################
build/
