########################
## Extensions
########################
*.class

########################
## Package Files
########################
*.war
*.ear

########################
## Directories
########################
build/
/nbproject/private/